<!DOCTYPE html>
<html class="no-js">

<head>
	{{ render '@head_basics' }}
	<link media="all" rel="stylesheet" href="{{ path '/assets/css/styleguide.css' }}">
	<link media="all" rel="stylesheet" href="{{ path '/assets/css/styles.css' }}">
	<title>{{ _target.label }} | Blocks by Bingsjöstämman</title>

	<script>document.querySelector('html').classList.replace('no-js', 'js');</script>
</head>

</head>

<body>

	{{{ yield }}}

	<script src="{{ path '/assets/js/scripts.js' }}" type="module"></script>

</body>

</html>
