<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<link media="all" rel="stylesheet" href="{{ path '/assets/css/styleguide.css' }}">
	<title>{{ _target.label }} | Blocks by Bingsjöstämman</title>
	{{ render '@head' }}
</head>

</head>

<body>

	{{{ yield }}}

	<script src="{{ path '/assets/js/scripts.js' }}" type="module"></script>

</body>

</html>
